{% extends 'main.html' %}

{% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <div class="home-container">
        <div style="padding-right: 50px;">
            {% include 'base/components/topics.html' %}
        </div>
        <div style="padding-right: 50px;">
            <h5> {{ room_count }} rooms available</h5>
            <a href="{% url 'rooms.create' %}">Create Room</a>
            {% include 'base/components/feeds.html' %}
        </div>
        <div>
            {% include 'base/components/activities.html' %}
        </div>
    </div>
{% endblock %}